.App {
  max-width: 100%;
  background-color: #1a1a1c;
  border-radius: 10px;
  height: auto;
}

.App-header {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-family: "Cookie", cursive, Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

.App h1 {
  font-size: 80px;
}
