.Dictionary input {
  line-height: 33px;
  position: relative;
  top: 2px;
  width: auto;
}

.Dictionary .searchBar {
  text-align: center;
  padding: 19px;
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Dictionary section {
  background-color: #1a1a1c;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: white;
  width: 85%;
  transition: 2s;
  line-height: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Dictionary section:hover {
  background-color: black;
  transform: scale(1.1);
  color: rgb(255, 207, 215);
  box-shadow: 10px 20px 40px black;
}

.Meaning .definition {
  font-size: 17px;
}

.Meaning .example {
  font-size: 14px;
}

.Meaning .partOfSpeech {
  padding-bottom: 22px;
  text-transform: capitalize;
}

.Phonetics .audio {
  display: block;
  text-align: right;
}

.Results .wordSearched {
  text-transform: capitalize;
  text-align: center;
}
