.Dictionary section {
  background-color: rgb(37, 37, 37);
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: white;
  width: 85%;
  transition: 2s;
  line-height: 17px;
}

.Dictionary .searchBar {
  text-align: center;
  padding: 20px;
  display: block;
}

.Dictionary section:hover {
  background-color: rgb(18, 17, 17);
  transform: scale(1.1);
  color: rgb(255, 207, 215);
  box-shadow: 10px 20px 40px black;
}

.Dictionary input {
  line-height: 30px;
}

.Meaning .example {
  font-size: 14px;
}

.Meaning .partOfSpeech {
  padding-bottom: 20px;
  text-transform: capitalize;
}

.Results .wordSearched {
  text-transform: capitalize;
  text-align: center;
}

.Phonetics a {
  float: right;
}
