.Footer a {
  text-decoration-line: none;
  color: white;
  display: block;
  text-align: center;
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Footer a:hover {
  color: rgb(255, 202, 202);
}
