.Synonym {
  text-align: center;
}

.Synonym-list {
  font-size: 13px;
  border: 2px solid white;
  margin: 5px 5px;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  text-transform: capitalize;
}
